body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0077B6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quote-box {
  border-radius: 1rem;
  min-width: 320px;
  max-width: 320px;
  background-color: white;
  padding: 1rem;
}

#text {
  border-radius: 1rem;

  border: 1px solid #00B4D8;
}

#text > h3 {
  text-align: center;
  padding: 0 .5rem;
}

#author {
  padding-right: .5rem;
  text-align: right;
}

#button-box {
  display: flex;
  justify-content: space-between;
  padding: 0 .5rem;
}

.btn {
  background-color: #90E0EF;
  border: 1px solid #00B4D8;
  border-radius: .5rem;
  padding: .3rem .8rem;
}

#created-box {
  text-align: center;
  color: white;
}

a {
  color: white;
}